<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.demo.dao.OperateLogDao">
    <resultMap id="BaseMap" type="cn.zjy.demo.bean.model.OperateLog">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="oper" column="oper"/>
        <result property="operDesc" column="oper_desc"/>
        <result property="status" column="status"/>
        <result property="errorDesc" column="error_desc"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="cn.zjy.demo.bean.model.OperateLog">
        INSERT INTO demo_operate_log(user_id, oper, oper_desc, status, error_desc, create_time)
        VALUES (#{userId}, #{oper}, #{operDesc}, #{status}, #{errorDesc}, #{createTime});
    </insert>
</mapper>