<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.demo.dao.TaskDao">

    <select id="queryByMemory" resultType="cn.zjy.demo.model.Task">
        SELECT
        id taskId, task_status, modality, patient_name, accession_no,
        patient_id, patient_sex, allot_time, ai_tag, study_iuid,
        reject_tag, reject_date, report_doctor_id,
        review_doctor_id, update_time, study_datetime, from_org_no,
        to_org_no, task_level, create_time
        FROM dw_doctor_task_memory
        WHERE 1=1
        AND task_level = 0
        AND report_doctor_id IS NULL
        AND task_status IN ( 101, 102, 201 )
        AND to_org_no IN ( 'sr_test_0001_001' )
        <![CDATA[AND create_time >= '2018-11-11 03:00:00']]>
        <![CDATA[AND create_time < '2018-11-11 11:59:59']]>
        ORDER BY
        create_time DESC limit 50
    </select>

    <select id="queryByInnodb" resultType="cn.zjy.demo.model.Task">
        SELECT
        id taskId, task_status, modality, patient_name, accession_no,
        patient_id, patient_sex, allot_time, ai_tag, study_iuid,
        reject_tag, reject_date, report_doctor_id,
        review_doctor_id, update_time, study_datetime, from_org_no,
        to_org_no, task_level, create_time
        FROM dw_doctor_task_innoDB
        WHERE 1=1
        AND task_level = 0
        AND report_doctor_id IS NULL
        AND task_status IN ( 101, 102, 201 )
        AND to_org_no IN ( 'sr_test_0001_001' )
        <![CDATA[AND create_time >= '2018-11-11 03:00:00']]>
        <![CDATA[AND create_time < '2018-11-11 11:59:59']]>
        ORDER BY
        create_time DESC limit 50
    </select>

</mapper>