<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjy.demo.dao.UserDao">
    <resultMap id="BaseMap" type="cn.zjy.demo.model.User">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="otherContact" column="other_contact" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseMap">
        SELECT * FROM demo_user;
    </select>

    <select id="queryUserByUserId" resultMap="BaseMap">
        SELECT * FROM demo_user WHERE user_id = #{userId};
    </select>

    <select id="queryUserByMobileWithLock" resultMap="BaseMap">
        SELECT * FROM demo_user WHERE mobile = #{mobile} FOR UPDATE;
    </select>

    <select id="queryByParam" resultMap="BaseMap" parameterType="map">
        select * from demo_user
        <trim prefix="AND|OR" prefixOverrides="where">
            <if test="mobile != null and mobile != '' ">
                and mobile = #{mobile}
            </if>
            <if test="name != null and name != '' ">
                and name like '$#{name}$'
            </if>
        </trim>
    </select>

    <update id="updateUser" parameterType="cn.zjy.demo.model.User">
        UPDATE demo_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
        </trim>
        WHERE user_id = #{userId}
    </update>

    <insert id="addUser" parameterType="cn.zjy.demo.model.User">
        INSERT INTO demo_user(mobile, name, email, other_contact, create_time, update_time, status)
        VALUES (#{mobile}, #{name}, #{email}, #{otherContact}, #{createTime}, #{updateTime}, #{status})
    </insert>
</mapper>